<!DOCTYPE html>
<html>
<head>
  <title>Welcome to ShiftPlan</title>
</head>
<body>
  <div style="background-color: #f5f5f5; text-align: center; padding: 20px;">
    <h1 style="color: #007BFF;">ShiftPlan</h1>
    <p style="font-size: 16px; color: #333;">Hello {{userName}}, your email was confirmed succesfully!</p>
  </div>
</body>
</html>
